useDynLib(BFFMod, .registration = TRUE)

import(deSolve)
importFrom("stats", "approx")
importFrom("graphics", "matplot")

export(mussel_run_debind, mussel_run_debcohort)
export(mussel_get_debparms, mussel_get_debvars, mussel_get_debstates, mussel_get_debforcs, mussel_get_auxiliary)
export(matplot.mussel)
export(mussel_pop_struct, get_INI_indiv, get_INI_coh, make_ff)

S3method("plot", "dtDyn")
